if SHIELD_SLAET-Handwire_LEFT

config ZMK_KEYBOARD_NAME
    default "Slaet-Handwire"

config ZMK_SPLIT_ROLE_CENTRAL
    default y

endif

if SHIELD_SLAET-Handwire_LEFT || SHIELD_SLAET-Handwire_RIGHT

config ZMK_SPLIT
    default y

endif